<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Scan QR Code to Upload Your Tax Docs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button ion-button
              expand="block"
              (click)="scanQrCode()">
    Scan QR Code
  </ion-button>

</ion-content>
