<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            Tax Doc Hub
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <p class="ion-text-center">
        <img src="../../../assets/img/tax-doc-hub-logo-teal.267x39.png">
    </p>

    <h4 class="ion-text-center">
        Scan Tax Document QR Codes
    </h4>

    <ion-row>

        <ion-col>

            <p style="text-align: center">SCAN</p>

            <p>
                Use this app to scan your tax documents with QR codes.
                Tax documents supported by Tax Doc Hub include

                <span *ngFor="let doc of global.docs">
                    Form
                    <b>{{ doc.number }}</b>:
                    {{ doc.title }},
                </span>

                and over 30 other forms.
            </p>

            <p style="text-align: center">IMPORT</p>

            <p>
                Your scanned digital tax documents can be electronically
                imported into participating tax software programs including
                <span *ngFor="let software of global.programs"> <b>{{ software.name }}</b>, </span>
                and others.
                Electronic import spares you the tedium of
                manual data entry in the tax return preparation process.
            </p>

            <p style="text-align: center">AVAILABILITY</p>

            <p>
                For those forms for which a 2019 edition is not yet available, the 2018 edition is used.
                The import feature will be available in early January 2020.
            </p>

        </ion-col>

    </ion-row>

</ion-content>
