<ion-header>
    <ion-toolbar>
        <ion-title color="primary">Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Assigned Device Id</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
<pre>
{{ deviceGuid$ | async }}
</pre>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="showLink">

        <ion-card-header>
            <ion-card-subtitle>Link</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

            <p>
                You may link this device to your
                Tax Doc Hub account and locker.
                Click the button below and follow the prompts.
            </p>

            <br>

            <ion-button color="primary"
                        expand="block"
                        (click)="onClickLinkToLocker()">
                Link Device to Tax Doc Hub
            </ion-button>

        </ion-card-content>

    </ion-card>

    <ion-card>

        <ion-card-header>
            <ion-card-subtitle>App Build Date</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <app-build-num></app-build-num>
        </ion-card-content>

    </ion-card>

    <ion-card>

        <ion-card-header>
            <ion-card-subtitle>Special Use Code</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

            <form>

                <ion-list lines="full" class="ion-no-margin ion-no-padding">

                    <ion-item>

                        <ion-label>Code</ion-label>

                        <ion-input type="text"
                                   [(ngModel)]="specialUseCode"
                                   name="specialUseCode"></ion-input>

                    </ion-item>

                </ion-list>

            </form>

        </ion-card-content>

    </ion-card>

    <ion-card *ngIf="specialUseCode==='666666'">

        <ion-card-header>
            <ion-card-subtitle>Test Mode</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

            <ion-button color="danger"
                        expand="block"
                        (click)="toggleTestMode()">
                {{ global.testMode ? 'Turn Off Test Mode' : 'Turn On Test Mode' }}
            </ion-button>

        </ion-card-content>

    </ion-card>

    <ion-card *ngIf="specialUseCode==='666666'">

        <ion-card-header>
            <ion-card-subtitle>Clear</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

            <ion-button color="danger"
                        expand="block"
                        (click)="onClear()">
                Clear Stored Tax Documents
            </ion-button>

        </ion-card-content>

    </ion-card>

</ion-content>
