<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Tax Document</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        {{ doc?.docNumber }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ doc?.description }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <app-doc-facsimile-content [docData]="doc">
      </app-doc-facsimile-content>

    </ion-card-content>

  </ion-card>

</ion-content>
