<ion-header>
    <ion-toolbar>
        <!--
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        -->
        <ion-title color="danger">Scan Error</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="errorCode == global.PARSE_ERROR">

        <ion-card-content>

            <p>The QR code you scanned does not contain valid tax document data.</p>

            <pre>
{{ global.lastScannedText }}
</pre>

        </ion-card-content>

    </ion-card>

    <ion-card *ngIf="errorCode == global.SCAN_DUPLICATE">

        <ion-card-content>

            <p>The QR code you scanned
                is a duplicate of a tax document you previously scanned.
            </p>

            <pre>
{{ global.lastScannedText }}
</pre>

        </ion-card-content>

    </ion-card>

    <ion-card *ngIf="errorCode == global.SCAN_ERROR">

        <ion-card-content>

            <p>An error occurred while scanning</p>

            <pre>
{{ global.lastScannedText }}
</pre>

        </ion-card-content>

    </ion-card>

</ion-content>

