<ion-header>
    <ion-toolbar>
        <ion-title color="primary">Scan QR Code</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-card>

        <img src="./assets/img/fw2.recipient.png" />

        <ion-card-header>

            <ion-card-title>Scan Tax QR Code</ion-card-title>

            <!--
            <ion-card-subtitle>Destination</ion-card-subtitle>
            -->

        </ion-card-header>

        <ion-card-content>

            Scanning hints:<br>

            <ul>
                <li>
                    Scan in lighted area and/or use smart phone "torch".
                </li>
                <li>
                    Make sure camera lens is clean.
                </li>
                <li>
                    Stabilize phone and allow time for camera to focus and
                    complete scan.
                </li>
            </ul>

            <br>

            <ion-button ion-button
                        expand="block"
                        (click)="scanQrCode( )">
                Begin Scan
            </ion-button>

        </ion-card-content>

    </ion-card>

</ion-content>

