pre {
    border: 1px solid #cccccc;
    padding: .5rem;
}

.vertical-align-content > * {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
