<ion-header>
    <ion-toolbar>
        <!--
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        -->
        <ion-title color="primary">Tax Document Data</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <ion-card-header>
            <ion-card-title>
                {{ doc.docNumber }}
            </ion-card-title>
            <ion-card-subtitle>
                {{ doc.description }}
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

            <app-doc-content [docData]="doc"></app-doc-content>

<!--

            <p>&nbsp;</p>

            <p>&nbsp;</p>

<pre>{{ doc | json }}</pre>

            <ion-img [src]="doc.imageUrl"></ion-img>

-->

        </ion-card-content>

    </ion-card>

</ion-content>
