<ion-header>
  <ion-toolbar>
    <!--
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    -->
    <ion-title color="primary">Simulate Scan QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button ion-button
              expand="block"
              (click)="scanQrCodeDummySuccess( )">
    Random Form
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 1 )">
    Form 1041-K-1
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 2 )">
    Form 1065-K-1
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 3 )">
    Form 1095-A
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 4 )">
    Form 1095-B
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 5 )">
    Form 1095-C
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 6 )">
    Form 1097-BTC
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 7 )">
    Form 1098
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 8 )">
    Form 1098-C
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 9 )">
    Form 1098-E
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 10 )">
    Form 1098-T
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 11 )">
    Form 1099-A
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 12 )">
    Form 1099-B
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 13 )">
    Form 1099-C
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 14 )">
    Form 1099-CAP
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 15 )">
    Form 1099-DIV
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 16 )">
    Form 1099-G
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 17 )">
    Form 1099-H
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 18 )">
    Form 1099-INT
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 19 )">
    Form 1099-K
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 20 )">
    Form 1099-LTC
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 21 )">
    Form 1099-MISC
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 22 )">
    Form 1099-OID
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 23 )">
    Form 1099-PATR
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 24 )">
    Form 1099-Q
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 25 )">
    Form 1099-R
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 26 )">
    Form 1099-S
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 27 )">
    Form 1099-SA
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 28 )">
    Form 1120S-K-1
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 29 )">
    Form 2439
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 30 )">
    Form 5498
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 31 )">
    Form 5498-ESA
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 32 )">
    Form 5498-SA
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 33 )">
    Form W-2
  </ion-button>

  <ion-button ion-button expand="block" (click)="simulate( 34 )">
    Form W-2G
  </ion-button>

  <!--
  <ion-button ion-button
              expand="block"
              (click)="scanQrCodeDummyFailure( )">
    Simulate Scan QR Code Failure
  </ion-button>
  -->

</ion-content>
