<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>
    Tax Doc Hub App
  </h1>

  <p>
    Use this app to snap a tax document QR code and push your document information to your Tax Doc Hub Locker.
  </p>

  <p>
    Tax Doc Hub is a secure repository of your tax document data.
    The repository stores tax document data not tax document images.
    In this way your data can be readily imported into tax software and also viewed as generated PDF file(s) upon request.
  </p>

  <h3>Support</h3>

  <p>
    See www.taxdochub.com/help for answers to frequently asked questions about using this app.
  </p>

</ion-content>
